.about-title {
    font-size: 20px;
    margin: 120px;
    border: solid 3px;
    box-shadow: 12px 12px limegreen;
    padding: 22px;
}

.head-about {
    text-align: center;
    font-style: italic;
    margin-bottom: 25px;
}
